metka/src/main/resources/META-INF/xsd/DataShared.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.fsd.uta.fi/metka/dataShared"
           xmlns:dat="http://www.fsd.uta.fi/metka/dataShared">

    <!-- Sequence based database id -->
    <xs:simpleType name="idType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0" />
        </xs:restriction>
    </xs:simpleType>

    <!-- TranslatedValue -->
    <xs:complexType name="translationType">
        <xs:sequence>
            <xs:element name="locale" type="dat:localeType" />
            <xs:element name="value" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <!-- Locale -->
    <xs:simpleType name="localeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="fi_FI"/>
            <xs:enumeration value="en_US"/>
            <xs:enumeration value="sv_SE"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>