metka/src/main/resources/META-INF/xsd/PublicationData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.fsd.uta.fi/metka/publication"
           xmlns:pub="http://www.fsd.uta.fi/metka/publication"
           xmlns:dat="http://www.fsd.uta.fi/metka/dataShared">

    <xs:import namespace="http://www.fsd.uta.fi/metka/dataShared" schemaLocation="DataShared.xsd" />

    <xs:complexType name="publicationType">
        <xs:sequence>
            <xs:element name="id" type="dat:idType"/>
            <xs:element name="publicationYear" type="xs:int"/>
            <!-- Voiko julkaista -->
            <!-- Julkaisu id-nro, voiko olla sama kuin id vai onko joku muu -->
            <!-- Julkaisun ilmoitustapa -->
            <!-- Julkaisun kieli -->
            <!-- 1. Tallennuspvm, onko sama kuin ensimmäisen revision modified date, tarvitaanko datan sisällä -->
            <!-- Viimeisin muutospvm, onko sama kuin uusimman revision modified date, tarvitaanko datan sisällä -->
            <!-- Käsittelijä, onko uusin muokkaaja, tällä hetkellä muutoksia tekevä vai jokun muu -->
            <!-- Julkaisun otsikko, käännökset? -->
            <!-- relPubl-tiedot, käännökset? -->
            <!-- Julkaisun huomautukset, käännökset? -->

            <xs:element name="relatedPersons" type="pub:relatedPersonsType"/>
            <xs:element name="seriesLinks" type="pub:seriesLinksType"/>
            <xs:element name="studyLinks" type="pub:studyLinksType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Pids -->
    <xs:complexType name="pidsType">
        <xs:sequence>
            <xs:element name="pid" type="pub:pidType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="pidType">
        <xs:sequence>
            <xs:element name="value" type="xs:string" />
            <xs:element name="termId" type="dat:idType" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <!-- Related persons -->
    <xs:complexType name="relatedPersonsType">
        <xs:sequence>
            <xs:element name="relatedPerson" type="pub:relatedPersonType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="relatedPersonType">
        <xs:sequence>
            <xs:element name="firstName" type="xs:string" />
            <xs:element name="surname" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <!-- Relations -->
    <xs:complexType name="studyLinksType">
        <xs:sequence>
            <xs:element name="studyLink" type="dat:idType" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="seriesLinksType">
        <xs:sequence>
            <xs:element name="seriesLink" type="dat:idType" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>