metka/src/main/resources/META-INF/xsd/StudyData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.fsd.uta.fi/metka/study"
           xmlns:std="http://www.fsd.uta.fi/metka/study"
           xmlns:dat="http://www.fsd.uta.fi/metka/dataShared">

    <xs:import namespace="http://www.fsd.uta.fi/metka/dataShared" schemaLocation="DataShared.xsd" />

    <xs:complexType name="seriesType">
        <xs:sequence>
            <xs:element name="id" type="dat:idType"/>
            <xs:element name="abbreviation" type="xs:string"/>

            <!-- TODO: All data related to study that needs to be versioned -->

            <xs:element name="publicationLinks" type="std:publicationLinksType"/>
            <xs:element name="seriesLink" type="dat:idType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Relations -->
    <xs:complexType name="publicationLinksType">
        <xs:sequence>
            <xs:element name="publicationLink" type="dat:idType" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>