metka/src/main/resources/META-INF/xsd/VocabularyData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.fsd.uta.fi/metka/vocabulary"
           xmlns:voc="http://www.fsd.uta.fi/metka/vocabulary"
           xmlns:dat="http://www.fsd.uta.fi/metka/dataShared">
    <xs:import namespace="http://www.fsd.uta.fi/metka/dataShared" schemaLocation="DataShared.xsd" />

    <xs:complexType name="seriesType">
        <xs:sequence>
            <xs:element name="id" type="dat:idType"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="uri" type="xs:string"/>
            <xs:element name="terms" type="voc:termsType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Terms -->
    <xs:complexType name="termsType">
        <xs:sequence>
            <xs:element name="term" type="voc:termType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="termType">
        <xs:sequence>
            <xs:element name="key" type="xs:string" />
            <xs:element name="translation" type="voc:translationsType" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="additionalField" type="xs:boolean" nillable="false" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="translationsType">
        <xs:sequence>
            <xs:element name="translation" type="dat:translationType" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>